@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto+Flex&family=Abril+Fatface&display=swap');
/* Variables */
:root {
  --font-family: Roboto Flex;
  --normal-font: 500;
  --bold-font: 600;
  --bolder-font: 900;
  --bg-color: #d4b3ac;
  --primary-color: #53608a	;
  --secondary-color: 	#89ffa9	;
  --primary-shadow: #35c65c;
  --accent-color: #d84773;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 2rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

@keyframes droplets {
0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(1080deg);
  }
}
#shape {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-image: url("../images/fuzz.png");
  background-repeat: no-repeat;
  background-size:cover;
  animation: droplets 3s;
  position: relative;
  margin-right:auto;
  margin-left: auto;
}
p {
  font-weight: var(--normal-font);
  padding-bottom: 8px;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

a:hover {
  color: var(--primary-shadow);
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  width: 100vw
  
}

section {
  margin: var(--bottom-margin-2);
  padding: 1.5rem 0
}

/* CSS Resets end */

/* Navbar */
nav {
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: transparent;
  padding: 1.5rem 3.5rem;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
}

.brand {
  font-family: League Spartan;
  font-size: 100px;
 
  background-image: url("../images/fuzz.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h2 {
  font-family: League Spartan;
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 16px;

}

nav h1 {
  color: var(--secondary-color);
}

nav a {
  color: var(--secondary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
  font-family: League Spartan;
  font-size: 25px;
}

.burger-menu {
  color: var(--secondary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  margin: auto; 
  margin-bottom: 1.5em;
  z-index: 0;
}

.first-page, .main {
  background: #4E293A;
  background: linear-gradient(200deg,rgba(78, 41, 58, 1) 0%, rgba(83, 96, 138, 1) 100%);

}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  display: block;
}

.picture-frame {
  float: right;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 20%;
  border: none;
  overflow: hidden;
  margin: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: justify;
  width: 70%;
  justify-self: center;
}

.summary p {
  line-height: 1.5;
  color: white;
  font-size: 25px;
  font-family: League Spartan;

}

.big {
  font-size: 25px;
  font-weight: var(--bold-font);
  /* background: radial-gradient(circle,rgba(255, 102, 196, 1) 0%, rgba(255, 222, 89, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent; */
}

.about {
  padding: 0 6rem;
}

.about h2 {
  margin: 0 0 16px 8px;
  z-index: 1;

}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about p {
  line-height: var(--line-height);
  padding: .5rem 8px 1rem;
  display: block;
}

#logo {
  height: 300px;
  border: none
}

.skills {
  text-align: center;
}

.skills-wrapper {
  margin: 8px 0px
}

.skills-wrapper img {
  padding: 1.25rem;
}

.skill-header, .resume-header {
  color: var(--secondary-color)
}

.icon {
  width: 8rem;
  height: 8rem;
  border-radius: 20px;
}
/* Skills section ends */

/* Projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  margin-bottom: var(--bottom-margin);
  border-radius: 11px;
}

#no-margins {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  width: 21.875rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;

}

.project-title {
  margin-top: 20px;
  margin-bottom: var(--bottom-margin);
  font-family: League Spartan;
  color: var(--primary-color)
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-link {
  text-align: center;
  margin-top: 10px;
  font-weight: var(--bold-font);
}

.project-link a {
    color: var(--primary-shadow)
}

.project-link, .pdf a:hover {
  color: var(--secondary-color)
}

/* Projects section ends */

.resume {
  display: flex;
  flex-direction: column;
}

.resume-container {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.resume-header {
  text-align: center;
}

.resume-img {
  width: 40em
}

.pdf {
  text-align: center;
  padding-top: 10px;
  color: var(--primary-shadow)
}

/* Contacts section */
.contact {
  margin-top: 2rem;

}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

/* Social buttons */
.socials {
  display: flex;
  justify-content: center;
}

.socicon {
  width: 6rem;
  height: 6rem;
  margin: 20px;
}

.email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.email-me {
  font-weight: var(--bold-font);
}

.email-at {
  font-weight: var(--bold-font);
  color: var(--primary-color);
  font-size: 20px;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
  display: none;
}
.up-arrow {
  width: 3rem;
  height: 3rem;
  filter:invert()
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  .project-card {
    flex: content;
    flex-wrap: wrap;
  }

  nav ul {
    position: fixed;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    flex-direction: column;
    top: 50px;
    right: 0%;
    width: 30%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    padding: 1em 0;
  }

  nav ul li {
    margin: 8px;
    font-size: 20px;
  }

  nav a {
        color: var(--accent-color)

  }

  nav {
    padding: .5rem 2rem;
  }

  .brand {
    display: flex;
    flex-wrap: wrap;
    font-size: 80px;

  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  #logo {
    height: 10em;
    width: 10em;
  }

  .summary {
    gap: 16px
  }

.summary p {
  padding: 0 10px 0 0;
  font-size: 14px;
  line-height: 1.3rem;
}

.big {
  font-size: 16px;
}

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .about, .projects {
    padding: .5rem 2rem;
  }

  .about h2 {
    margin: 0 0 0 6.4px;
  }

  h2 {
    font-size: 20px;
  }

  .about p {
    /* text-align: justify; */
    line-height: 1.3rem;
    font-size: 14px;
  }

  .skills {
    margin-top: 0;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  #arrow {
    width: 2rem;
    height: 2rem;
  }

  .projects-title {
    margin: 8px;
  }

  .projects-container {
    flex-direction: column;
    gap: 2
  }


  .project-card p {
    font-size: 14px;
  }

  .resume {
    margin-top: 10px;
    align-content: center;
  }

  .resume-container {
    align-content: center;
    margin: 0 1em;
  }

  .resume-img {
    width: 20em;
  }

  .pdf {
    font-size: 14px;
  }

  .socicon {
    width: 4rem;
    height: 4rem;
  }

  .footer {
    margin-top: 0;
  }

  .picture-frame {
    width: 10rem;
    height: 12rem;
  }

}

@media screen and (max-width: 420px) {
  h2 {
    font-size: 16px;
  }

  .pdf {
    font-size: 14px;
    padding-top: 4px;
  }

  .summary {
    text-align: justify;
    gap: 0;
    padding: 6px 0;
  }

  .summary p {
    font-size: 12px;
    line-height: 1.3;
    padding: 6px 0;
  }

  .big {
    font-size: 12px;
  }

  .hero {
    justify-content: space-evenly;
    height: 100vh;
  }

  #logo {
    height: 5em;
    width: 5em
  }

  .about {
    padding: 0 20px;
    text-align: justify;
  }

  .about p {
    padding: 0 6.4px 6px;
  }
.skills-wrapper img {
  padding: 10px
}

.icon-card {
  height: 4em;
  width: 4em;
  margin: 4px
}
  .project-title {
    font-size: 16px;
    margin-top: 8px;
  }

  .project-link {
    font-size: 14px;
  }

  .resume {
    padding: 0;
  }

  .resume-img {
    width: 55%;
  }

  nav {
    padding: 1rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .about p {
    line-height: 1.3;
    font-size: 12px;
}

  #contact {
    margin-top: 0;
  }

  .contact h2 {
    margin-bottom: 8px;
  }

  .socicon {
    width: 2rem;
    height: 2rem;
    margin: 6px;
  }

  .email {
    font-size: 12px;
  }

  .copy {
    font-size: 12px;
  }

  footer {
    padding: 10px;
    margin-top: 10px;
  }

  .brand {
    font-size: 60px;
  }
}
