@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&family=Quicksand:wght@300..700&display=swap');
/* Variables */
:root {
  --font-family: Quicksand;
  --normal-font: 500;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fddce3;
  --primary-color: #004346;
  --secondary-color: #d84773;
  --primary-shadow: #c3e991;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

p {
  font-weight: var(--normal-font);
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  max-width: 1100px;
  margin: auto;
}

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.brand {
  font-family: Tenor Sans;
}

h2 {
  font-family: Tenor Sans;
  font-size: 30px;
  color: var(--primary-color);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
  font-family: Tenor Sans;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: 100%;
  margin: auto;
  background-color: var(--primary-color);
  margin-bottom: var(--bottom-margin);
}

.hero-img {
  height: 20rem;
}

.summary {
  width: 55%;
}

.summary p {
  line-height: var(--line-height);
  padding: 0.3rem 0 1em 5em;
  /* font-weight: var(--bold-font); */
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 6rem;
}

.about-1 {
  display: flex;
}

.about h2 {
  margin-bottom: var(--bottom-margin);
  position: relative;
  left: 62%
  /* text-align: center; */
}

.about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#logo {
  height: 300px;
  border: none
}

.skills {
  max-width: 80rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 8rem;
  height: 8rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin: 1em 0 3em 0;
  border-radius: 11px;
}

#no-margins {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: space-between;
  justify-content: space-evenly;
  margin: 0 1em 0 1em;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  width: 21.875rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;

}

.project-title {
  margin-top: 20px;
  margin-bottom: var(--bottom-margin);
  font-family: Tenor Sans;
  color: var(--secondary-color)
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-link {
  text-align: center;
  margin-top: 10px;
  font-weight: var(--bold-font);
}

/* Projects section ends */

.resume {
  display: flex;
}

.resume-container {
  display: flex;
  justify-content: center;
}

.resume-header {
  text-align: center;
}

.resume-img {
  width: 40em
}

/* Contacts section */
.contact {
  margin-top: 2rem;

}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

/* Social buttons */
.socials {
  display: flex;
  justify-content: center;
}

.socicon {
  width: 6rem;
  height: 6rem;
  margin: 20px;
}

.email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.email-me {
  font-weight: var(--bold-font);
  color: var(--primary-color)
}

.email-at {
  font-weight: var(--bold-font);
  color: var(--secondary-color)
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color)
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-color);
  padding: 20px;
  margin: 10px;
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  /* nav {
    width: 100%;
  } */

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
